@model Laba3.Dal.Entities.Ticket
@{ ViewBag.Title = "List edit"; }

<form asp-action="EditSomeTicket" asp-controller="home">
    <div class="form-group">
        <label asp-for="Ticket_Id" class="control-label">Click on input to generate ticket id</label>
        <input type="text" asp-for="Ticket_Id" class="form-control" id="randomid" readonly />
    </div>
    <div class="form-group">
        <label asp-for="Passenger_Id" class="control-label">Passenger Id</label>
        <select asp-for="Passenger_Id" class="form-control" required>
            <option value=""></option>
            <option value=""></option>
        </select>
    </div>
    <div class="form-group">
        <label asp-for="Airline_Id" class="control-label">Airline Id</label>
        <select asp-for="Airline_Id" class="form-control" required>
            <option value=""></option>
            <option value=""></option>
        </select>
    </div>
    <div class="form-group">
        <label asp-for="Cost" class="control-label">Cost</label>
        <input type="number" asp-for="Cost" class="form-control" required />
    </div>
    <div class="form-group">
        <label asp-for="Flight_Date" class="control-label">Flight_Date</label>
        <input type="text" asp-for="Flight_Date" class="form-control" required />
    </div>


    <div class="form-group">
        <input type="submit" value="Сохранить" class="btn btn-outline-primary" />
    </div>
    <div>
        <a class="btn btn-danger" asp-action="DeleteTicket" asp-route-id="@Model.Ticket_Id">Delete Permanently</a>
    </div>
</form>
